*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
body{
  max-width: 90%;
}
footer{
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  font-size: 0.5rem;
  position: static;
}
nav{
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
  font-size: 1.25rem;
  border-bottom: solid 1px black;
  box-shadow: 10px 5px 5px grey;
  background-color: #002158;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-left: 1rem;
}
nav a:hover {
  text-decoration: underline;
}
h1 img{
  position: relative;
  top: 0.5rem;
}
h2{
  margin-bottom: 1.5rem;
}
form{
  width: 60%;
}
input{
  margin: 0.25rem;
  font-size: 1rem;
}
label{
  margin-left: 0;
}
fieldset{
  margin-top: 1rem;
}
.main{
  padding: 1rem;
  box-shadow: 10px 5px 5px grey;
}
.statusGroup{
  padding: 1rem;
  text-align: center;
  border: 0;
}
.status{
  display: inline;
}
.controls{
  text-align: center;

}
.controls input{
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  font-size: 1rem;
  font-weight: bold;
}
.controls input:hover{
  cursor: pointer;
}
.username{
  font-weight: bold;
}
.user{
  position: absolute;
  right: 5%;
  padding-top: 1rem;
  text-align: right;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.3em 0.3em;
  align-items: baseline;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.required{
  font-size: 0.8rem;
  text-align: right;
  margin-right: 20%;
}
.red{
  color: red;
}
@media only screen and (max-width: 375px) {
  nav{
    height: 3rem;
    overflow: hidden;
  }
  nav a{
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: solid 1px white;

  }
  nav a:hover, .active{
    background-color: white;
    color: #002158;
    text-decoration: none;
  }
  nav::before, nav::selection{
    margin-left: 5%;
    height:2px;
    width:20px;
    background:white;
    display:inline-block;
    content:"";
    box-shadow:0px -7px 0px 0px  white,
               0px -14px 0px 0px white;
  }
  nav:hover{
    height: auto;
    }
  nav:hover::before{
    background: grey;
    box-shadow:0px -7px 0px 0px  grey,
               0px -14px 0px 0px grey;
  }
  footer{
    border-top: solid 1px grey;
  }
  h1{
    font-size: 1.6rem;
    vertical-align: bottom;
    padding-top: 0.5rem;
  }
  label, input{
    margin: 1rem;
  }
  .user{
    display: inline-block;
  }
  .main{
    box-shadow: none;
    padding: 0;
  }
  .grid{
    align-items: center;
  }
  .grid.notes{
    display: block;
    text-align: center;
  }
  .status label{
    display: block;
    border: solid 1px buttonFace; //http://www.iangraham.org/books/xhtml1/appd/update-23feb2000.html
    background-color: buttonFace; //http://www.iangraham.org/books/xhtml1/appd/update-23feb2000.html
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 0 0.5rem 0;
    box-shadow: 2px 2px 5px grey;
  }
  .status label:active{
    border: solid 1px grey;
    background-color: Highlight; //http://www.iangraham.org/books/xhtml1/appd/update-23feb2000.xhtml
  }
  .status input{
    display: none;
  }
  .controls input{
    width: 11rem;
    display: inline;
  }
}
