*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
body{
  max-width: 90%;
}
footer{
  max-width: 90%;
  border-top: solid 1px grey;
  padding: 0.5rem 0rem 0.5rem 0rem;
  text-align: center;
  font-size: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
nav{
  margin: 1rem 0rem 1rem 0rem;
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1.25rem;
  border-bottom: solid 1px black;
  box-shadow: 10px 5px 5px grey;
  background-color: #002158;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-left: 1rem;
}
nav a:hover {
  text-decoration: underline;
}
h1{
  /* background-color: #aecceb; */

}
h1 img{
  position: relative;
  top: 0.5rem;
}
input{
  margin: 0.25rem;
  font-size: 1rem;
}
.main{
  padding: 1rem;

}
.statusGroup{
  padding: 1rem;
  text-align: center;
}
.controls{
  text-align: center;

}
.controls input{
  margin: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  font-size: 1rem;
  font-weight: bold;
}
.controls input:hover{
  cursor: pointer;

}
.username{
  font-weight: bold;
}
.user{
  position: absolute;
  right: 5%;
  padding-top: 1rem;
  text-align: right;
}
.grid {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr;
  grid-gap: 0.3em 0.6em;
}
